<app-section>
	<app-hero></app-hero>
</app-section>

<div class="w-5xl max-w-full mb-20 mx-auto">
	<h1 class="text-center text-3xl font-bold mb-2">Our Latest Products</h1>
	<p class="text-center text-lg text-gray-500 mb-8">Check out all of our products</p>

	<div class="grid grid-cols-3 grid-rows-3 gap-8 mb-8">

		@if (products$ | async; as products) {
		@for (product of products; track $index) {
		<app-product-card [product]="product"></app-product-card>
		}
		}

	</div>

	<div class="paginator w-fit mx-auto flex gap-4">
		<a
			href="#"
			class="border size-12 text-center flex items-center justify-center"
		>
			1
		</a>
		<a
			href="#"
			class="border size-12 text-center flex items-center justify-center bg-gray-900 text-white"
		>
			2
		</a>
	</div>
</div>