@if (order$ | async; as order) {
<div class="grid grid-cols-12 gap-8">
	<div class="col-span-8">
		<div class="bg-white mb-8 p-8">
			<h1 class="text-2xl font-semibold mb-2">Order #{{order.id}}</h1>
			<p class="text-gray-500 mb-8">Detail of order #{{order.id}}</p>

			<div class="details mb-8">
				<div class="row mb-8">
					<small class="uppercase font-semibold text-gray-500 block mb-2">STATUS</small>
					<app-order-badge [status]="order.status"></app-order-badge>
				</div>
				<div class="mb-8">
					<small class="uppercase font-semibold text-gray-500 block mb-2">SHIPPING ADDRESS</small>
					<span>{{order.shipping_address}}</span>
				</div>
				<div>
					<small class="uppercase font-semibold text-gray-500 block mb-2">Order Date</small>
					<span>{{order.created_at}}</span>
				</div>
			</div>
			<div class="flex gap-8">

				@switch (order.status) {
				@case ("PENDING") {
				<button
					(click)="cancelOrder(order.id)"
					class="block w-full px-3.5 py-2.5 uppercase text-sm border border-red-500 text-red-500 bg-red-50 font-semibold"
				>Cancel
					Order</button>
				}
				@case ("PREPARING") {
				<button
					(click)="cancelOrder(order.id)"
					class="block w-full px-3.5 py-2.5 uppercase text-sm border border-red-500 text-red-500 bg-red-50 font-semibold"
				>Cancel
					Order</button>
				}
				@case ("DELIVERING") {
				<button class="block w-full px-3.5 py-2.5 uppercase text-sm border border-gray-800 font-semibold">
					Contact Support
				</button>
				}
				@case ("DELIVERED") {
				<button class="block w-full px-3.5 py-2.5 uppercase text-sm border border-gray-800 font-semibold">
					Don't Received?
				</button>
				<button
					(click)="completeOrder(order.id)"
					class="block w-full px-3.5 py-2.5 uppercase text-sm bg-gray-700 text-white font-semibold"
				>
					Order Received
				</button>
				}
				@case ("COMPLETED") {
				<a
					routerLink="/products"
					class="block w-full px-3.5 py-2.5 uppercase text-sm bg-gray-700 text-white font-semibold text-center"
				>
					Buy More
				</a>
				}
				}
			</div>
		</div>

		<div class="bg-white mb-8 p-8">
			<h2 class="mb-8 font-semibold text-2xl">Items</h2>
			<table class="w-full">
				<thead class="border-y border-gray-200 text-sm text-gray-500 uppercase text-left">
					<tr>
						<th class="px-2 py-4 font-semibold">Product Name</th>
						<th class="px-2 py-4 font-semibold">Quantity</th>
					</tr>
				</thead>
				<tbody>
					@for (item of order.items; track $index) {
					<tr class="border-b border-gray-200">
						<td class="p-2">
							<div class="flex gap-4">
								<img
									[src]="item.product.image_urls[0]"
									alt=""
									class="size-24"
								>
								<span>{{item.product.name}}</span>
							</div>
						</td>
						<td class="p-2 ">{{item.quantity}}</td>
					</tr>
					}
				</tbody>
			</table>

		</div>
	</div>
	<div class="col-span-4">
		<div class="bg-white p-8 mb-8">
			<h2 class="text-2xl font-semibold mb-8">Payment Details</h2>
			<table class="w-full">
				<tbody>
					<tr class="text-gray-500">
						<td class="pb-2">Subtotal</td>
						<td class="pb-2 text-end">{{fcurrency(order.total - order.total * 0.08)}}</td>
					</tr>
					<tr class="text-gray-500">
						<td class="pb-4">Tax (8%)</td>
						<td class="pb-4 text-end">{{fcurrency(order.total * 0.08)}}</td>
					</tr>
					<tr class="text-lg">
						<td class="font-semibold">
							Total
						</td>
						<td class="font-semibold text-end">{{order.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
}