<footer class="bg-gray-800 text-white pt-12 pb-8">
	<div class="container mx-auto max-w-5xl px-4">
		<div class="flex flex-col md:flex-row gap-4 mb-6">
			<div class="w-full">
				<h2 class="text-4xl font-bold text-center mb-4">Flye Shop</h2>
				<p class="mb-3">Midvalley Megamall, Kuala Lumpur, Malaysia</p>
				<p class="mb-3">contact&commat;aidil.dev</p>
				<p class="mb-3">555-12 312 3123</p>
			</div>
			<div class="w-full">
				<h3 class="font-bold text-xl mb-4">Shopping & Categories</h3>
				<ul>
					<li class="mb-3">
						<a href="#">Men's Shopping</a>
					</li>
					<li class="mb-3">
						<a href="#">Women's Shopping</a>
					</li>
					<li class="mb-3">
						<a href="#">Kid's Shopping</a>
					</li>
				</ul>
			</div>
			<div class="w-full">
				<h3 class="mb-4 font-bold text-xl">Useful Links</h3>
				<ul>
					<li class="mb-3">
						<a href="/">Homepage</a>
					</li>
					<li class="mb-3">
						<a href="/">About Us</a>
					</li>
					<li class="mb-3">
						<a href="/">Help</a>
					</li>
					<li class="mb-3">
						<a href="/">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="w-full">
				<h3 class="mb-4 text-xl font-bold">Help & Information</h3>
				<ul>
					<li class="mb-3">
						<a href="#">Help</a>
					</li>
					<li class="mb-3">
						<a href="#">FAQ's</a>
					</li>
					<li class="mb-3">
						<a href="#">Shipping</a>
					</li>
					<li class="mb-3">
						<a href="#">Tracking ID</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="mb-6 border-gray-600">
		<div class="text-center">
			<p class="mb-4">Copyright &copy; 2025 Flye Shop. All rights reserved</p>
			<ul class="flex gap-4 justify-center">
				<li>
					<a
						href="https://github.com/aidilrx04"
						target="_blank"
					>
						<i class="ph ph-github-logo text-2xl"></i>
					</a>
				</li>

				<li>
					<a
						href="https://linkedin/in/aidilrx04"
						target="_blank"
					>
						<i class="ph ph-linkedin-logo text-2xl"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
</footer>