<app-section>
	<app-hero></app-hero>
</app-section>

<div class="w-5xl max-w-full mx-auto mb-20">
	<div class="grid grid-cols-[2fr_1fr] gap-8">
		@if (product$ | async; as product) {
		<div class="flex flex-col gap-8">
			@for (imageUrl of product.image_urls; track $index) {
			<img
				[src]="imageUrl"
				alt=""
				class="w-full aspect-video object-cover"
			>
			}
		</div>
		<div>
			<div class="flex justify-between items-center mb-2">
				<h1 class="text-xl font-semibold">{{product.name}}</h1>
				<span>{{product.rating}} <i class="ph-fill ph-star"></i></span>
			</div>
			<p class="text-lg text-gray-500 mb-4">$ {{product.price}}</p>
			<hr class="mb-4 border-gray-300">
			<p class="text-gray-600 mb-4">{{product.description}}</p>

			<div class="flex items-start justify-start gap-6 mb-4">
				<i class="ph-fill ph-quotes text-4xl text-gray-600"></i>
				<p class="italic font-semibold">{{product.tagline}}</p>
			</div>
			<hr class="mb-4 border-gray-300">
			<div class="flex items-center justify-between w-full mb-4">
				<span class="text-gray-500 text-2xl block">No. of Orders</span>
				<div class="counter  flex items-center justify-center h-7 aspect-[3/1]">
					<button
						(click)="onDecrease()"
						class="size-full aspect-square border border-gray-300"
					>
						<i class="ph ph-minus text-sm"></i>
					</button>
					<input
						type="text"
						[formControl]="amount"
						class="size-full text-center border border-gray-300 border-l-0"
					>
					<button
						(click)="onIncrease()"
						class="size-full border border-gray-300 border-l-0"
					>
						<i class="ph ph-plus text-sm"></i>
					</button>
				</div>
			</div>
			<hr class="mb-4 border-gray-300">
			<div class="flex justify-between items-center">
				<span class="text-gray-400 font-semibold text-2xl">Total: $ {{(amount.value ?? 0) *
					product.price}}</span>
				<button
					(click)="onAddToCart()"
					class="border px-3.5 py-2.5"
				>Add To Cart</button>
			</div>
		</div>
		}
	</div>
</div>