<app-section>
	<div class="h-96 grid place-items-center">
		<div class="flex flex-col justify-center items-center">
			<i class="ph ph-check-circle text-9xl text-green-500 block mb-8"></i>
			<h1 class="text-3xl font-bold mb-4">Order Successful</h1>
			<div class="flex gap-2 flex-wrap items-center">
				<a
					routerLink="/my-orders"
					class="bg-gray-800 text-white px-3.5 py-2.5"
				>See Order</a>
				<a
					routerLink="/products"
					class="px-3.5 py-2.5 border"
				>Buy More!</a>
			</div>
		</div>
	</div>
</app-section>