<app-section>

	<div class="mx-auto w-lg max-w-full border p-8 border-gray-200">
		<h1 class="font-bold text-3xl mb-8">Sign In</h1>
		<form
			action=""
			[formGroup]="signinForm"
			(ngSubmit)="onSubmit()"
		>
			<div class="input-group mb-4">
				<label
					for=""
					class="mb-2 block"
				>Email</label>
				<input
					type="email"
					class="block border w-full px-3.5 py-2.5"
					formControlName="email"
				>
			</div>

			<div class="input-group mb-4">
				<label
					for=""
					class="block mb-2"
				>Password</label>
				<input
					type="password"
					class="block w-full px-3.5 py-2.5 border"
					formControlName="password"
				>
			</div>

			<button class="block w-full px-3.5 py-2.5 bg-gray-800 text-white mb-2 disabled:bg-gray-600">Sign In</button>
			<small class="block text-center">Dont have an account? <a
					routerLink="/signup"
					class="text-gray-600"
				>Sign Up</a></small>

		</form>
	</div>

</app-section>