<div class="sticky top-0 left-0 bg-white z-10">
	<div class="container mx-auto max-w-5xl ">
		<header class="flex justify-between items-center mx-auto py-4">
			<a
				href="#"
				class="text-4xl font-bold"
			>Flye Shop</a>
			<nav class="flex list-none gap-8">
				<li class="font-semibold ">
					<a
						routerLink="/"
						routerLinkActive="active"
						class="[.active]:text-gray-400"
						[routerLinkActiveOptions]="{exact: true}"
					>Home</a>
				</li>
				<li class="font-semibold ">
					<a
						routerLink="/products"
						routerLinkActive="active"
						class="[.active]:text-gray-400"
					>Explore</a>
				</li>
				<li>|</li>
				@if (hasLoggedIn ) {
				<li>
					<a
						href="#"
						class="[.active]:text-gray-400 font-semibold"
					>Profile</a>
				</li>
				<li>
					<a
						routerLink="/admin"
						routerLinkActive="active"
						class="[.active]:text-gray-400 font-semibold"
					>Admin</a>
				</li>
				}
				@else {

				<li>
					<a
						routerLink="/signin"
						routerLinkActive="active"
						class="[.active]:text-gray-400 font-semibold"
					>
						Sign In
					</a>
				</li>
				<li>
					<a
						routerLink="/signup"
						routerLinkActive="active"
						class="[.active]:text-gray-400 font-semibold"
					>
						Sign Up
					</a>
				</li>
				}
			</nav>
		</header>
	</div>
</div>