<app-section>
	<div
		class="flex flex-col lg:flex-row w-7xl max-w-full px-6 mx-auto lg:aspect-[2/1] gap-8 justify-center overflow-hidden">
		<div class="w-full relative">
			<div class="relative top-0 left-0">
				<img
					src="https://loremflickr.com/1080/1080?a"
					alt=""
					class="size-full object-cover"
				>
				<div class="bg-gray-700 absolute top-0 left-0 size-full opacity-65"></div>
			</div>
			<div
				class="absolute text-white w-[70%] flex flex-col justify-center aspect-square top-[50%] left-[50%] -translate-[50%]">
				<h2 class="font-bold text-5xl mb-4">We are FlyeShop</h2>
				<p class="text-lg mb-4 text-gray-100">Find your best services</p>
				<button
					class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
				>Get Now!</button>
			</div>
		</div>
		<div class="w-full relative">
			<div class="grid sm:grid-cols-2 sm:grid-rows-2 gap-8">
				<div class="size-full relative group">
					<div class="relative top-0 left-0">
						<img
							src="https://loremflickr.com/1080/1080?b"
							alt=""
							class="size-full object-cover"
						>
						<div class="bg-gray-700 absolute top-0 left-0 size-full opacity-65"></div>
					</div>
					<div
						class="absolute text-white w-[70%] flex flex-col justify-center aspect-square top-[50%] left-[50%] -translate-[50%] text-center">
						<h2 class="font-bold text-3xl mb-4">Men</h2>
						<p class="text-lg mb-4 text-gray-100">Best clothes for men</p>
						<!-- <button
								class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
							>Get Now!</button> -->
					</div>
					<div
						class="overlay absolute w-[80%] top-[50%] left-[50%] -translate-[50%] aspect-square  flex-col text-white text-center bg-gray-800/90 p-8 opacity-0 group-hover:opacity-100 flex transition-all duration-300">
						<h2 class="font-bold text-3xl mb-4">Men</h2>
						<p class="text-lg mb-4 text-gray-100">Lorem ipsum dolor, sit amet consectetur</p>
						<a
							routerLink="/products"
							[queryParams]="{
								category: 'MEN'
							}"
							class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
						>Get Now!</a>
					</div>
				</div>
				<div class="size-full relative group">
					<div class="relative top-0 left-0">
						<img
							src="https://loremflickr.com/1080/1080?c"
							alt=""
							class="size-full object-cover"
						>
						<div class="bg-gray-700 absolute top-0 left-0 size-full opacity-65"></div>
					</div>
					<div
						class="absolute text-white w-[70%] flex flex-col justify-center aspect-square top-[50%] left-[50%] -translate-[50%] text-center">
						<h2 class="font-bold text-3xl mb-4">Women</h2>
						<p class="text-lg mb-4 text-gray-100">Best clothes for women</p>
						<!-- <button
								class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
							>Get Now!</button> -->
					</div>
					<div
						class="overlay absolute w-[80%] top-[50%] left-[50%] -translate-[50%] aspect-square  flex-col text-white text-center bg-gray-800/90 p-8 opacity-0 group-hover:opacity-100 flex transition-all duration-300">
						<h2 class="font-bold text-3xl mb-4">Women</h2>
						<p class="text-lg mb-4 text-gray-100">Lorem ipsum dolor, sit amet consectetur</p>
						<a
							routerLink="/products"
							[queryParams]="{
								category: 'WOMEN'
							}"
							class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
						>Get Now!</a>
					</div>
				</div>
				<div class="size-full relative group">
					<div class="relative top-0 left-0">
						<img
							src="https://loremflickr.com/1080/1080?d"
							alt=""
							class="size-full object-cover"
						>
						<div class="bg-gray-700 absolute top-0 left-0 size-full opacity-65"></div>
					</div>
					<div
						class="absolute text-white w-[70%] flex flex-col justify-center aspect-square top-[50%] left-[50%] -translate-[50%] text-center">
						<h2 class="font-bold text-3xl mb-4">Kids</h2>
						<p class="text-lg mb-4 text-gray-100">Best clothes for kids</p>
						<!-- <button
								class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
							>Get Now!</button> -->
					</div>
					<div
						class="overlay absolute w-[80%] top-[50%] left-[50%] -translate-[50%] aspect-square  flex-col text-white text-center bg-gray-800/90 p-8 opacity-0 group-hover:opacity-100 flex transition-all duration-300">
						<h2 class="font-bold text-3xl mb-4">Kids</h2>
						<p class="text-lg mb-4 text-gray-100">Lorem ipsum dolor, sit amet consectetur</p>
						<a
							routerLink="/products"
							[queryParams]="{
								category: 'KID'
							}"
							class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
						>Get Now!</a>
					</div>
				</div>
				<div class="size-full relative group">
					<div class="relative top-0 left-0">
						<img
							src="https://loremflickr.com/1080/1080?e"
							alt=""
							class="size-full object-cover"
						>
						<div class="bg-gray-700 absolute top-0 left-0 size-full opacity-65"></div>
					</div>
					<div
						class="absolute text-white w-[70%] flex flex-col justify-center aspect-square top-[50%] left-[50%] -translate-[50%] text-center">
						<h2 class="font-bold text-3xl mb-4">Many More</h2>
						<p class="text-lg mb-4 text-gray-100">We have more to offer</p>
						<!-- <button
								class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
							>Get Now!</button> -->
					</div>
					<div
						class="overlay absolute w-[80%] top-[50%] left-[50%] -translate-[50%] aspect-square  flex-col text-white text-center bg-gray-800/90 p-8 opacity-0 group-hover:opacity-100 flex transition-all duration-300">
						<h2 class="font-bold text-3xl mb-4">Many More</h2>
						<p class="text-lg mb-4 text-gray-100">Lorem ipsum dolor, sit amet consectetur</p>
						<a
							routerLink="/products"
							class="border-2 bg-transparent px-3.5 py-2.5 cursor-pointer hover:bg-black hover:text-white transition-colors "
						>Get Now!</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</app-section>
<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<h2 class="text-4xl font-bold  mb-1">Men's Latest</h2>
		<p class="mb-8 text-lg text-gray-500">New cool men clothings.
		</p>

		@if (men$ | loading | async; as state) {
		@if (state.data; as men) {
		<app-carousel [values]="men">
			<ng-template
				#itemTemplate
				let-item
			>
				<app-product-card [product]="item" />
			</ng-template>
		</app-carousel>
		}
		@if (state.error; as error) {
		<app-error [message]="error.message"></app-error>
		}
		@if(state.loading) {
		<div class="h-36">
			<app-loading></app-loading>
		</div>
		}
		}
	</div>
</app-section>
<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<h2 class="text-4xl font-bold  mb-1">Women's Latest</h2>
		<p class="mb-8 text-lg text-gray-500">New beautiful and eye-catching women clothings.
		</p>

		@if (women$ | loading | async; as state) {
		@if (state.data; as women) {
		<app-carousel [values]="women">
			<ng-template
				#itemTemplate
				let-item
			>
				<app-product-card [product]="item" />
			</ng-template>
		</app-carousel>
		}
		@if (state.error; as error) {
		<app-error [message]="error.message"></app-error>
		}
		@if(state.loading) {
		<div class="h-36">
			<app-loading></app-loading>
		</div>
		}
		}
	</div>
</app-section>
<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<h2 class="text-4xl font-bold  mb-1">Kid's Latest</h2>
		<p class="mb-8 text-lg text-gray-500">New comfortable and cute kid's clothing.
		</p>
		@if (kids$ | loading | async; as state) {
		@if (state.data; as kids) {
		<app-carousel [values]="kids">
			<ng-template
				#itemTemplate
				let-item
			>
				<app-product-card [product]="item" />
			</ng-template>
		</app-carousel>
		}
		@if (state.error; as error) {
		<app-error [message]="error.message"></app-error>
		}
		@if(state.loading) {
		<div class="h-36">
			<app-loading></app-loading>
		</div>
		}
		}
	</div>
</app-section>

<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<div class="flex gap-8 flex-col">
			<div class="w-full">
				<h2 class="text-4xl font-bold mb-8">Explore Our Products</h2>
				<p class="mb-8 text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum voluptas
					assumenda
					ipsum laudantium
					corrupti? Tempore, aspernatur nostrum, tenetur perferendis esse sequi obcaecati possimus, eum
					nesciunt odio suscipit omnis culpa corporis?</p>
				<div class="flex items-start justify-start gap-6 mb-8">
					<i class="ph-fill ph-quotes text-6xl text-gray-600"></i>
					<p class="italic font-semibold">Lorem, ipsum dolor sit amet consectetur
						adipisicing elit. Nihil
						voluptas culpa sapiente,
						beatae distinctio illo laborum </p>
				</div>
				<p class="mb-8 text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ea,
					soluta ullam
					qui ad
					repellat nemo adipisci deserunt aperiam omnis voluptas sapiente placeat illum, tempore, ab
					molestiae itaque officiis corporis?
				</p>
				<button
					class="px-3.5 py-2.5 border hover:text-white hover:bg-gray-900 transition duration-200 ease-in">Discover
					More</button>
			</div>
			<div class="w-full">
				<div class="grid grid-cols-2 grid-rows-2 gap-8">
					<img
						src="https://loremflickr.com/640/640?1"
						alt=""
						class="size-full"
					>
					<img
						src="https://loremflickr.com/640/640?2"
						alt=""
						class="size-full"
					>
					<img
						src="https://loremflickr.com/640/640?3"
						alt=""
						class="size-full"
					>
					<img
						src="https://loremflickr.com/640/640?4"
						alt=""
						class="size-full"
					>
				</div>
			</div>
		</div>
	</div>
</app-section>
<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<h2 class="text-4xl font-bold mb-2">Social Media</h2>
		<p class="text-gray-500 mb-8">Connect to us directly via our social medias!</p>
		<div class="grid grid-cols-3 grid-rows-2 overflow-hidden">
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?0"
					alt=""
				>
			</div>
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?1"
					alt=""
				>
			</div>
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?2"
					alt=""
				>
			</div>
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?3"
					alt=""
				>
			</div>
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?4"
					alt=""
				>
			</div>
			<div class="w-full aspect-square overflow-hidden bg-red-500">
				<img
					class="w-full max-w-full max-h-full"
					src="https://loremflickr.com/640/640?5"
					alt=""
				>
			</div>
		</div>
	</div>
</app-section>
<app-section>
	<div class="w-5xl max-w-full mx-auto px-4">
		<div class="flex flex-col gap-8">
			<div class="w-full">
				<h2 class="text-4xl mb-2 font-bold">By Subscribing To Our Newsletter You Can Get 30% Off</h2>
				<p class="text-gray-500 mb-8">Subscribe now</p>

				<form class="flex gap-4 /gap-8 flex-col">
					<input
						type="text"
						class="block w-full px-3.5 py-2.5 border placeholder:italic"
						placeholder="Your Name"
					>
					<input
						type="text"
						class="block w-full px-3.5 py-2.5 border placeholder:italic"
						placeholder="Your Email"
					>
					<button
						type="submit"
						class="bg-gray-900 text-white  size-12 aspect-square w-full"
					>
						<i class="ph-fill ph-paper-plane-tilt text-xl"></i>
					</button>
				</form>
			</div>
			<div class="/w-[60%] w-full">
				<div class="grid grid-cols-2 grid-rows-3 gap-8">
					<div>
						<h4 class="font-bold text-xl mb-2">Store Location</h4>
						<p class="text-gray-400">{{footerData.address}}</p>
					</div>
					<div>
						<h4 class="font-bold text-xl mb-2">Work Hours</h4>
						<p class="text-gray-400">08.00 AM - 9.30 PM</p>
						<p class="text-gray-400">Mon - Fri</p>
					</div>
					<div>
						<h4 class="font-bold text-xl mb-2">Phone</h4>
						<p class="text-gray-400">555-12 123 123</p>
					</div>
					<div>
						<h4 class="font-bold text-xl mb-2">Email</h4>
						<p class="text-gray-400">contact&comma;aidil.dev</p>
					</div>
					<div>
						<h4 class="font-bold text-xl mb-2">Office Location</h4>
						<p class="text-gray-400">Kuala Lumpur</p>
					</div>
					<div>
						<h4 class="font-bold text-xl mb-2">Social Media</h4>
						<ul class="flex gap-4 text-3xl text-gray-500">
							<li>
								<a href="https://github.com/aidilrx04">
									<i class="ph ph-github-logo"></i>
								</a>
							</li>
							<li>
								<a href="https://linkedin.com/in/aidilrx04">
									<i class="ph ph-linkedin-logo"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-section>