@if (order$ | async; as order) {
<div class="grid grid-cols-12 gap-8">
	<div class="col-span-8">
		<div class="bg-white mb-8 p-8">
			<h1 class="text-2xl font-semibold mb-2">Order #{{order.id}}</h1>
			<p class="text-gray-500 mb-8">Detail of order #{{order.id}}</p>

			<div class="details">
				<div class="row mb-8">
					<small class="uppercase font-semibold text-gray-500 block mb-2">STATUS</small>
					<div class="flex gap-8 items-center">
						<app-order-badge [status]="order.status"></app-order-badge>
						<button
							(click)="openStatusModal()"
							type="button"
						><i class="ph ph-pencil text-lg"></i></button>
					</div>

				</div>
				<div class="row mb-8">
					<small class="uppercase font-semibold text-gray-500 block mb-2">USER</small>
					<span>{{order.user.full_name}}</span>
				</div>
				<div class="mb-8">
					<small class="uppercase font-semibold text-gray-500 block mb-2">SHIPPING ADDRESS</small>
					<span>{{order.shipping_address}}</span>
				</div>
				<div>
					<small class="uppercase font-semibold text-gray-500 block mb-2">Order Date</small>
					<span>{{order.created_at}}</span>
				</div>
			</div>
		</div>

		<div class="bg-white mb-8 p-8">
			<h2 class="mb-8 font-semibold text-2xl">Items</h2>
			<table class="w-full">
				<thead class="border-y border-gray-200 text-sm text-gray-500 uppercase text-left">
					<tr>
						<th class="px-2 py-4 font-semibold">Product Name</th>
						<th class="px-2 py-4 font-semibold">Quantity</th>
					</tr>
				</thead>
				<tbody>
					@for (item of order.items; track $index) {
					<tr class="border-b border-gray-200">
						<td class="p-2">
							<div class="flex gap-4">
								<img
									[src]="item.product.image_urls[0]"
									alt=""
									class="size-24"
								>
								<span>{{item.product.name}}</span>
							</div>
						</td>
						<td class="p-2 ">{{item.quantity}}</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-span-4">
		<div class="bg-white p-8 mb-8">
			<h2 class="text-2xl font-semibold mb-8">Payment Details</h2>
			<table class="w-full">
				<tbody>
					<tr class="text-gray-500">
						<td class="pb-2">Subtotal</td>
						<td class="pb-2 text-end">{{order.total - order.total * 0.08}}</td>
					</tr>
					<tr class="text-gray-500">
						<td class="pb-4">Tax (8%)</td>
						<td class="pb-4 text-end">{{order.total * 0.08}}</td>
					</tr>
					<tr class="text-lg">
						<td class="font-semibold">
							Total
						</td>
						<td class="font-semibold text-end">{{order.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
}

<ng-template
	#statusTemplate
	let-closeModal="close"
>

	<span class="text-xl p-4 block mb-2 border-b border-gray-200">Update Order Status</span>
	<ul class="text-start">
		@if (order$ | async; as order) {
		@for (data of updateData; track $index) {
		<li>
			<button
				type="button"
				(click)="setCurrentCheckedStatus(data.status)"
				class="grid w-full grid-cols-[min-content_1fr] text-left border-b border-gray-200 px-4 py-2 items-center gap-x-4 gap-y-2 cursor-pointer hover:bg-gray-100
										[.checked]:bg-gray-200
										"
				[ngClass]=" {
											'checked': currentCheckedStatus() !== order.status ? currentCheckedStatus() === data.status  : order.status === data.status
										}
										"
			>
				<i [class]="data.icon + ' ' + data.color"></i>
				<span [class]="data.color">{{data.label}}</span>
				<span></span>
				<p class="text-sm text-gray-500">{{data.description}}</p>
			</button>
		</li>
		}
		}
		@else {
		<li class="py-4">
			<app-loading></app-loading>
		</li>
		}
	</ul>
	<div class="flex items-center gap-4 justify-end py-2 px-4">
		<button
			type="button"
			(click)="closeModal()"
			class="text-gray-500 font-semibold uppercase px-3.5 py-1.5 cursor-pointer hover:bg-gray-100"
		>Cancel</button>
		<button
			(click)="updateOrderStatus()"
			class="text-white bg-gray-800 font-semibold uppercase px-3.5 py-1.5 cursor-pointer hover:bg-gray-600"
		>Update</button>
	</div>
</ng-template>