@if (product$ |async; as product) {

<div class="flex gap-8">
	<div class="w-full">
		<div class="bg-white mb-8">
			<div class="p-8">
				<h1 class="text-2xl font-semibold mb-2">Edit Product</h1>
				<p class="text-gray-500 mb-8">Update your product here.</p>

				<form
					[formGroup]="productGroup"
					(ngSubmit)="onSubmit()"
				>
					<div class="input-group mb-4">
						<label
							for="name"
							class="block mb-2"
						>Name</label>
						<input
							type="text"
							id="name"
							class="block w-full px-3.5 py-2.5 border"
							formControlName="name"
						>
					</div>

					<div class="input-group mb-4">
						<label
							for="priceP"
							class="block mb-2"
						>Price</label>
						<input
							type="number"
							id="price"
							step="0.01"
							class="block w-full px-3.5 py-2.5 border"
							formControlName="price"
						>
					</div>
					<div class="input-group mb-4">
						<label
							for="description"
							class="block mb-2"
						>Description</label>
						<textarea
							name=""
							id=""
							class="block w-full px-3.5 py-2.5 border"
							formControlName="description"
						></textarea>
					</div>
					<div class="input-group mb-4">
						<label
							for="tagline"
							class="block mb-2"
						>Tagline</label>
						<input
							type="text"
							id="tagline"
							class="block w-full px-3.5 py-2.5 border"
							formControlName="tagline"
						>
					</div>
					<div class="input-group mb-4">
						<label
							for="Images"
							class="block mb-2"
						>Images</label>
						<small class="text-gray-500 mb-2 block">First image will be used as the thumbnail.</small>

						<div class="grid grid-cols-3 gap-4 min-h-24 bg-gray-100 mb-2">
							@for (imageFile of images(); track $index) {
							<div class="relative w-full bg-gray-200 group hover:bg-gray-800 ">
								<!-- src="https://cari-kata.aidil.dev/favicon.png" -->
								<img
									[src]="imageFile.url"
									alt=""
									class="size-full object-cover aspect-square group-hover:brightness-50"
								>
								<div
									class="absolute top-0 right-0 flex flex-col gap-2 text-white text-lg px-2 opacity-0 group-hover:opacity-100">
									<button
										type="button"
										(click)="removeImage($index)"
									>
										<i class="ph ph-x"></i>
									</button>
									<button
										type="button"
										(click)="setAsThumbnail($index)"
									>
										<i class="ph ph-image"></i>
									</button>
								</div>
							</div>
							}
							@if (images().length === 0) {
							<div class="col-span-3 h-full grid place-items-center text-sm text-gray-600">
								Image will be shown here.
							</div>
							}

						</div>
						<input
							type="file"
							name=""
							id=""
							class="block w-full border px-3.5 py-2.5"
							(change)="fileChange($event)"
						>
					</div>
					<div class="flex gap-4">
						<button
							type="button"
							class="px-3.5 py-2.5 border border-gray-200 text-gray-600"
							(click)="goBack()"
						>Back</button>
						<button
							type="submit"
							class="px-3.5 py-2.5 bg-gray-800 text-white"
						>Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="preview">
		<div class="w-80">
			<div class="card p-8 bg-white mb-8">
				<h2 class="text-2xl font-semibold mb-2">Preview</h2>
				<p class="text-gray-500 mb-8">Preview your product card view</p>

				<app-product-card [product]="productPreview" />
			</div>
		</div>
	</div>
</div>
}